.demo-block,
.demo-block-control,
.description,
.meta {
  border-color: var(--vp-c-divider-light) !important;
}
.hover.hover {
  box-shadow: 0 0 1px 0 rgb(232 237 250 / 60%),
    0 1px 1px 0 rgb(232 237 250 / 50%) !important;
}
.demo-block {
  .demo-block-control,
  .description,
  .meta {
    background-color: var(--vp-c-bg-alt) !important;
  }
  .description {
    color: var(--vp-c-text-1) !important;
  }
}
.demoblock-message-wrap .demoblock-message {
  .demoblock-message-content {
    color: var(--vp-c-brand-lighter) !important;
    background-color: var(--vp-c-bg-alt) !important;
  }
}

.vp-doc div[class*="language-vue"] {
  background-color: var(--vp-code-vue-bg);
}
.vp-doc [class*="language-vue"] code {
  color: var(--vp-code-vue-color);
}